<template>
  <div>
    <md-card class="md-layout-item">
      <md-card-header>
        <div class="md-title">Function Editor</div>
      </md-card-header>

      <md-card-content>
        <div class="cmSummary">
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field>
                <label>Name</label>
                <md-input v-model="name" maxlength="30" readonly></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100">
            <md-field>
                <label>Handler</label>
                <md-input v-model="handler" maxlength="255"></md-input>
              </md-field>
            </div>
          </div>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field>
                <label>Runtime</label>
                <md-select v-model="runtime" name="runtime">
                  <md-option v-for="runtimeEntry in runtimeList" :key="runtimeEntry" :value="runtimeEntry">{{runtimeEntry}}</md-option>
                </md-select>
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100">
              <md-button class="md-raised md-primary" @click="updateFunction">Update</md-button>
              <md-button class="md-raised md-accent" @click="resetFunction">Reload Function</md-button>
              <md-button class="md-raised md-accent" @click="loadBoilerPlate">Load Boilerplate</md-button>
            </div>
          </div>
        </div>
        <div class="md-layout md-gutter">
          <div class="md-layout-item md-xlarge-size">
            <label>Function Contents</label>
            <codemirror ref="codeWindow"
                        :value="code"
                        :options="cmOptions"
                        v-on:input="onCmCodeChange"
            ></codemirror>
            <label>Dependencies</label>
            <codemirror ref="codeWindow2"
                        :value.sync="deps"
                        :options="dependencyCMOptions"
                        v-on:input="onDependencyCmCodeChange"
            ></codemirror>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</template>

<script>
// import 'codemirror/some-resource...'
export default {
  props: [
    'functionID',
    'runtimeList',
    'currentCode',
    'currentDeps',
    'templateOptions',
    'boilerPlate'
  ],
  data () {
    return {
      code: '',
      cmOptions: {
        // codemirror options
        tabSize: 4,
        mode: 'text/x-go',
        theme: 'darcula',
        lineNumbers: true,
        line: true,
        indentWithTabs: true,
        matchBrackets: true,
        indentUnit: 4,
        smartIndent: true
      },
      dependencyCMOptions: {
        // codemirror options
        tabSize: 4,
        mode: 'text/x-go',
        theme: 'darcula',
        lineNumbers: true,
        line: true,
        indentWithTabs: true,
        matchBrackets: true,
        indentUnit: 4,
        smartIndent: true
      },
      deps: '',
      name: '',
      runtime: '',
      handler: ''
    }
  },
  computed: {
    codemirror () {
      return this.$refs.codeWindow.codemirror
    }
  },
  methods: {
    onCmCodeChange (newCode) {
      this.$emit('code-change', newCode)
    },
    onDependencyCmCodeChange (newDeps) {
      this.$emit('deps-change', newDeps)
    },
    getCmOptionsForRuntime (runtime) {
      switch (runtime) {
        case 'go1.10':
          return this.templateOptions['go']
        case 'java1.8':
          return this.templateOptions['java']
        case 'nodejs6':
        case 'nodejs8':
        case 'nodejs_distroless8':
          return this.templateOptions['nodejs']
        case 'php7.2':
          return this.templateOptions['php']
        case 'python2.7':
          return this.templateOptions['python2']
        case 'python3.4':
        case 'python3.6':
          return this.templateOptions['python3']
        case 'ruby2.4':
          return this.templateOptions['ruby']
        default:
          return this.templateOptions['java']
      }
    },
    getDependencyCmOptionsForRuntime (runtime) {
      switch (runtime) {
        case 'go1.10':
          return this.templateOptions['toml']
        case 'java1.8':
          return this.templateOptions['xml']
        case 'nodejs6':
        case 'nodejs8':
        case 'nodejs_distroless8':
        case 'php7.2':
          return this.templateOptions['json']
        case 'python2.7':
        case 'python3.4':
        case 'python3.6':
        case 'ruby2.4':
        default:
          return this.templateOptions['properties']
      }
    },
    getBoilerplateOptionForRuntime () {
      switch (this.runtime) {
        case 'go1.10':
          return this.boilerPlate['go']
        case 'java1.8':
          return this.boilerPlate['java']
        case 'nodejs6':
        case 'nodejs8':
        case 'nodejs_distroless8':
          return this.boilerPlate['nodejs']
        case 'php7.2':
          return this.boilerPlate['php']
        case 'python2.7':
        case 'python3.4':
        case 'python3.6':
          return this.boilerPlate['python']
        case 'ruby2.4':
          return this.boilerPlate['ruby']
        default:
          return this.boilerPlate['go']
      }
    },
    loadBoilerPlate () {
      let boilerPlateData = this.getBoilerplateOptionForRuntime()
      let handlerArray = this.handler.split('.')
      let handler = handlerArray[handlerArray.length - 1]
      let className = (handlerArray.length > 1) ? (handlerArray[handlerArray.length - 2]) : ('PLACEHOLDER')
      this.code = boilerPlateData.code.replace('__HANDLER__', handler).replace('__CLASS__', className)
      this.deps = boilerPlateData.deps
    },
    loadFunction (id) {
      this.axios
        .get('https://kless.kubeless.ontario.cluster.cnct.io/api/v1/function', {
          params: {
            name: id
          }
        })
        .then(response => {
          this.code = (response.data.function != null) ? (response.data.function) : ('')
          this.handler = response.data.handler
          this.name = response.data.name
          this.runtime = response.data.runtime
          this.deps = (response.data.deps != null) ? (response.data.deps) : ('')
          this.$emit('notify-user', 'Loaded function ' + response.data.name)
        })
    },
    resetFunction () {
      this.code = ''
      this.loadFunction(this.name)
    },
    updateFunction () {
      this.$emit('notify-user', 'Submitting Function ' + this.name)
      this.axios
        .post('https://kless.kubeless.ontario.cluster.cnct.io/api/v1/function', {
          name: this.name,
          function: {
            deps: this.currentDeps,
            function: this.currentCode,
            handler: this.handler,
            runtime: this.runtime
          }
        })
        .then(response => {
          if (response.data.ok === true) {
            this.$emit('notify-user', 'Function ' + this.name + ' has been updated!')
          } else {
            this.$emit('notify-user', 'Function ' + this.name + ' has NOT been updated!')
          }
        })
    }
  },
  watch: {
    functionID: function (id) {
      this.loadFunction(id)
    },
    runtime: function (newRuntime) {
      this.cmOptions = this.getCmOptionsForRuntime(newRuntime)
      this.dependencyCMOptions = this.getDependencyCmOptionsForRuntime(newRuntime)
    }
  },
  mounted () {
    /*
    console.log('this is current codemirror object', this.codemirror)
    // you can use this.codemirror to do something...
    this.axios
      .get('https://kless.kubeless.ontario.cluster.cnct.io/api/v1/function', {
        params: {
          name: 'hw-go'
        }
      })
      .then(response => {
        this.code = response.data.function
      })
      */
  }
}
</script>
