<template>
  <div>
    <p>Hello World</p>
    <p>{{ message }}</p>
    <p>{{ reverseMessage }}</p>
    <input v-model="message" placeholder="insert text">
    <br/>
    <button v-for="item in examples" v-bind:key="item.id" v-on:click="$emit('change-cm-source', item.id)">{{item.name}}</button>
  </div>
</template>
<script>
export default {
  name: 'SillyText',
  props: ['text'],
  data () {
    return {
      message: '',
      examples: [
        {name: 'hw-nodejs example', id: 'hw-nodejs'},
        {name: 'hw-go example', id: 'hw-go'}
      ]
    }
  },
  computed: {
    reverseMessage: function () {
      return this.message.split('').reverse().join('')
    }
  },
  mounted () {
    this.axios
      .get('https://kless.kubeless.ontario.cluster.cnct.io/api/v1/function', {
        params: {
          name: 'hw-nodejs'
        }
      })
      .then(response => (this.code = response.data.function))
  }
}
</script>
