<template>
  <div>
    <md-table v-model="searched" md-card md-fixed-header @md-selected="onSelect">
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <h1 class="md-title">Functions</h1>
        </div>

        <md-field md-clearable class="md-toolbar-section-end">
          <md-input placeholder="Search by name..." v-model="search" @input="searchOnTable" />
        </md-field>
      </md-table-toolbar>

      <md-table-empty-state
        md-label="No functions found"
        :md-description="`No functions found for this '${search}' query. Try a different search term or create a new function.`">
        <md-button class="md-primary md-raised" @click="newFunction">Create New Function</md-button>
      </md-table-empty-state>

      <md-table-row slot="md-table-row" slot-scope="{ item }" :class="getClass(item)" md-selectable="single">
        <md-table-cell md-label="Name" md-sort-by="name" md-numeric>{{ item.name }}</md-table-cell>
        <md-table-cell md-label="Runtime" md-sort-by="runtime">{{ item.runtime }}</md-table-cell>
        <md-table-cell md-label="URL" md-sort-by="url">{{ item.url }}</md-table-cell>
        <md-table-cell md-label="Replicas" md-sort-by="replicas">{{ item.replicas }}</md-table-cell>
        <md-table-cell md-label="Available" md-sort-by="available">{{ item.available }}</md-table-cell>
        <md-table-cell md-label="Actions">
          <md-button class="md-primary" v-on:click="copyURL(item.url, $event)">Copy URL</md-button>
          <md-button class="md-accent" v-on:click="deleteURLConfirmation(item.name, $event)">Delete</md-button>
        </md-table-cell>
      </md-table-row>
    </md-table>
    <md-button class="md-primary md-raised" @click="$emit('activate-new-function-dialog', true)">Create New Function</md-button>
    <md-dialog-confirm
      :md-active.sync="deleteNotificationActive"
      md-title="Really delete function?"
      md-confirm-text="Nuke it from orbit!"
      md-cancel-text="Cancel"
      @md-cancel="deleteNotificationCancel"
      @md-confirm="deleteNotificationConfirm">
    </md-dialog-confirm>
  </div>
</template>

<script>
const toLower = text => {
  return text.toString().toLowerCase()
}

const searchByName = (items, term) => {
  if (term) {
    return items.filter(item => toLower(item.name).includes(toLower(term)))
  }

  return items
}

export default {
  name: 'TableSearch',
  props: ['inputEntries'],
  data: () => ({
    search: null,
    searched: [],
    selected: {},
    entries: [],
    deleteName: '',
    deleteNotificationActive: false
  }),
  methods: {
    newFunction () {
      this.$emit('activate-new-function-dialog', true)
    },
    searchOnTable () {
      this.searched = searchByName(this.entries, this.search)
    },
    onSelect (item) {
      this.selected = item
      this.$emit('change-cm-source', item.name)
    },
    getClass: ({ id }) => ({
      'md-primary': id === 2,
      'md-accent': id === 3
    }),
    copyURL (newURL, event) {
      this.$copyText(newURL).then(this.$emit('notify-user', 'Copied to clipboard'))
      event.stopPropagation()
    },
    deleteURLConfirmation (functionName, event) {
      this.deleteName = functionName
      this.deleteNotificationActive = true
      event.stopPropagation()
    },
    deleteNotificationConfirm () {
      this.deleteNotificationActive = false
      let deleteName = this.deleteName
      this.axios
        .delete('https://kless.kubeless.ontario.cluster.cnct.io/api/v1/function', {
          params: {
            name: this.deleteName
          }
        })
        .then(response => {
          if (response.data.ok === true) {
            this.$emit('notify-user', 'Function ' + deleteName + ' deleted')
          } else {
            this.$emit('notify-user', 'Function ' + deleteName + ' NOT deleted')
          }
        })
        .catch(response => {
          this.$emit('notify-user', 'Function ' + deleteName + ' NOT deleted')
        })
    },
    deleteNotificationCancel () {
      this.deleteNotificationActive = false
      this.$emit('notify-user', 'Function ' + this.deleteName + ' NOT deleted')
      this.deleteName = ''
    }
  },
  watch: {
    inputEntries: function (newEntries) {
      let outputArray = []
      for (let i = 0; i < newEntries.length; i++) {
        let singleEntry = {
          name: newEntries[i].name,
          runtime: newEntries[i].runtime,
          url: newEntries[i].url.url,
          replicas: (newEntries[i].deployment.replicas) ? (newEntries[i].deployment.replicas) : 0,
          available: (newEntries[i].deployment.available) ? (newEntries[i].deployment.available) : 0
        }
        outputArray.push(singleEntry)
      }
      outputArray.sort(function (a, b) {
        if (a.name < b.name) { return -1 }
        if (a.name > b.name) { return 1 }
        return 0
      })
      this.entries = outputArray
      this.searchOnTable()
    }
  },
  mounted () {
    this.searched = this.entries
  }
}
</script>

<style lang="scss" scoped>
  .md-field {
    max-width: 300px;
  }
</style>
