<template>
  <div>
    <div id="functionList">
      <function-list
        v-bind:inputEntries="functionList"
        v-on:change-cm-source="changeCMSource"
        v-on:activate-new-function-dialog="openNewFunctionDialog"
        v-on:notify-user="cmNotifyUser"
      ></function-list>
    </div>
    <div id="texteditor">
      <router-view
        v-bind:currentCode="code"
        v-bind:currentDeps="deps"
        v-bind:functionID="cmSource"
        v-bind:runtimeList="runtimeList"
        v-bind:templateOptions="templateOptions"
        v-bind:boilerPlate="boilerPlate"
        v-on:code-change="changeCode"
        v-on:deps-change="changeDeps"
        v-on:notify-user="cmNotifyUser"
      ></router-view>
    </div>
    <div id="snackbar">
      <Snackbar
        v-bind:text="code"
        v-bind:incomingMessage="message"
      ></Snackbar>
    </div>
    <div id="newFunctionDialog">
      <NewFunctionDialog
        v-bind:activateDialog="newFunctionDialogOpen"
        v-bind:runtimeList="runtimeList"
        v-bind:templateOptions="templateOptions"
        v-bind:boilerPlate="boilerPlate"
        v-on:closed-new-function-dialog="closedNewFunctionDialog"
        v-on:activate-new-function-dialog="openNewFunctionDialog"
        v-on:new-function-created="newFunctionCreated"
      ></NewFunctionDialog>
    </div>
  </div>
</template>

<script>
import Snackbar from './components/SnackBar'
import FunctionList from './components/Table'
import NewFunctionDialog from './components/NewFunctionDialog'
import 'codemirror/mode/clike/clike.js'
import 'codemirror/mode/go/go.js'
import 'codemirror/mode/javascript/javascript.js'
import 'codemirror/mode/php/php.js'
import 'codemirror/mode/properties/properties.js'
import 'codemirror/mode/python/python.js'
import 'codemirror/mode/ruby/ruby.js'
import 'codemirror/mode/toml/toml.js'
import 'codemirror/mode/xml/xml.js'
import 'codemirror/theme/darcula.css'
export default {
  name: 'App',
  components: {NewFunctionDialog, Snackbar, FunctionList},
  data () {
    return {
      code: '',
      deps: '',
      cmSource: '',
      runtimeList: [],
      message: {},
      functionList: [],
      newFunctionDialogOpen: false,
      newFunctionInformation: {
        attempts: 25,
        name: ''
      },
      templateOptions: {
        'java': {
          tabSize: 4,
          mode: 'text/x-java',
          theme: 'darcula',
          lineNumbers: true,
          line: true,
          indentWithTabs: true,
          matchBrackets: true,
          indentUnit: 4,
          smartIndent: true
        },
        'go': {
          tabSize: 4,
          mode: 'text/x-go',
          theme: 'darcula',
          lineNumbers: true,
          line: true,
          indentWithTabs: true,
          matchBrackets: true,
          indentUnit: 4,
          smartIndent: true
        },
        'json': {
          tabSize: 4,
          mode: { name: 'application/json', json: true },
          theme: 'darcula',
          lineNumbers: true,
          line: true,
          indentWithTabs: true,
          matchBrackets: true,
          indentUnit: 4,
          smartIndent: true
        },
        'nodejs': {
          tabSize: 4,
          mode: 'text/javascript',
          theme: 'darcula',
          lineNumbers: true,
          line: true,
          indentWithTabs: true,
          matchBrackets: true,
          indentUnit: 4,
          smartIndent: true
        },
        'php': {
          tabSize: 4,
          mode: 'text/x-php',
          theme: 'darcula',
          lineNumbers: true,
          line: true,
          indentWithTabs: true,
          matchBrackets: true,
          indentUnit: 4,
          smartIndent: true
        },
        'properties': {
          tabSize: 4,
          mode: 'text/x-properties',
          theme: 'darcula',
          lineNumbers: true,
          line: true,
          indentWithTabs: true,
          matchBrackets: true,
          indentUnit: 4,
          smartIndent: true
        },
        'python2': {
          tabSize: 4,
          mode: {name: 'text/x-python', version: 2},
          theme: 'darcula',
          lineNumbers: true,
          line: true,
          indentWithTabs: true,
          matchBrackets: true,
          indentUnit: 4,
          smartIndent: true
        },
        'python3': {
          tabSize: 4,
          mode: {name: 'text/x-python', version: 3},
          theme: 'darcula',
          lineNumbers: true,
          line: true,
          indentWithTabs: true,
          matchBrackets: true,
          indentUnit: 4,
          smartIndent: true
        },
        'ruby': {
          tabSize: 4,
          mode: 'text/x-ruby',
          theme: 'darcula',
          lineNumbers: true,
          line: true,
          indentWithTabs: true,
          matchBrackets: true,
          indentUnit: 4,
          smartIndent: true
        },
        'toml': {
          mode: 'toml',
          theme: 'darcula',
          lineNumbers: true,
          line: true,
          indentWithTabs: true,
          matchBrackets: true,
          indentUnit: 4,
          smartIndent: true
        },
        'xml': {
          tabSize: 4,
          mode: 'application/xml',
          theme: 'darcula',
          lineNumbers: true,
          line: true,
          indentWithTabs: true,
          matchBrackets: true,
          indentUnit: 4,
          smartIndent: true
        }
      },
      boilerPlate: {
        'go': {
          code: `package kubeless
import (
        "github.com/kubeless/kubeless/pkg/functions"
)
func __HANDLER__(event functions.Event, context functions.Context) (string, error) {
        return "Hello world!", nil
}`,
          deps: ``
        },
        'java': {
          code: `package io.kubeless;

import io.kubeless.Event;
import io.kubeless.Context;

public class __CLASS__ {
    public String __HANDLER__(io.kubeless.Event event, io.kubeless.Context context) {
        System.out.println(event.Data);
        return event.Data;
    }
}`,
          deps: ``
        },
        'nodejs': {
          code: `module.exports = {
  __HANDLER__: (event, context) => {
    console.log(event);
    return event.data;
  },
};`,
          deps: ``
        },
        'php': {
          code: `
<?php
function __HANDLER__($event, $context) {
  return json_encode($event->data);
}`,
          deps: ``
        },
        'python': {
          code: `def __HANDLER__(event, context):
return "hello world"`,
          deps: ``
        },
        'ruby': {
          code: `def __HANDLER__(event, context)
  puts event
  JSON.generate(event[:data])
end`,
          deps: ``
        }
      }
    }
  },
  methods: {
    changeCode (newCode) {
      this.code = newCode
    },
    changeDeps (newDeps) {
      this.deps = newDeps
    },
    cmNotifyUser (message) {
      this.message = { message: message, timeout: 1000 }
    },
    changeCMSource (newFunctionID) {
      this.cmSource = newFunctionID
      this.message = { message: 'Loading new data - ' + newFunctionID, timeout: 1000 }
    },
    closedNewFunctionDialog (newState) {
      this.newFunctionDialogOpen = false
    },
    openNewFunctionDialog (newState) {
      this.newFunctionDialogOpen = true
    },
    newFunctionCreated (newFunctionName) {
      this.message = { message: 'Loading new function - ' + newFunctionName, timeout: 5000 }
      this.newFunctionInformation.attempts = 25
      this.newFunctionInformation.name = newFunctionName
      this.tryLoadingNewFunction()
    },
    tryLoadingNewFunction () {
      console.log('Attempts Remaining ' + this.newFunctionInformation.attempts)
      if (this.newFunctionInformation.attempts > 0) {
        this.newFunctionInformation.attempts--
        this.axios
          .get('https://kless.kubeless.ontario.cluster.cnct.io/api/v1/function', {
            params: {
              name: this.newFunctionInformation.name
            }
          })
          .then(response => {
            this.cmSource = this.newFunctionInformation.name
          })
          .catch(response => {
            setTimeout(this.tryLoadingNewFunction, 200)
          })
      } else {
        this.message = { message: '!!! Gave up trying to load new function - ' + this.newFunctionInformation.name, timeout: 5000 }
      }
    },
    loadFunctionList () {
      console.log('I am loading the function list')
      this.axios
        .get('https://kless.kubeless.ontario.cluster.cnct.io/api/v1/function/list')
        .then(response => {
          if (response.data.ok === true) {
            this.functionList = response.data.entries
          } else {
            alert('Could not load function list -->' + response.data.error + '<--')
          }
        })
      setTimeout(this.loadFunctionList, 5000)
    },
    loadEngineList () {
      this.axios
        .get('https://kless.kubeless.ontario.cluster.cnct.io/api/v1/engine/list')
        .then(response => {
          if (response.data.engines.length > 0) {
            this.runtimeList = response.data.engines
          } else {
            // alert('Could not load runtime list -->' + response.data.error + '<--')
          }
        })
    }
  },
  created () {
    this.loadFunctionList()
    this.loadEngineList()
  }
}
</script>

<style>
#text-editor {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  margin-top: 5px;
}
</style>
